<!--ユーザーの詳細-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  
  <% if @user == current_user.id %>
  <!--画面表示しているユーザーとログインしているユーザーのidが一致するかを確認
      一致していれば、編集リンクを表示させるという処理-->
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!--ユーザーの投稿一覧-->
<%= render 'post_images/list', post_images: @post_images %>
